<a href="https://colab.research.google.com/github/Christy-V/CV/blob/main/Python_Fundametals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Why Python?

* Python is easy to learn 

* Python has lots of powerfull linraries and modules for datascience.

* Python is a generall language and is intensively used in industry

### Keywords

* Keywords are reserved words they perform a specific function

* They cannot used as vaiable or function name etc

* Keywords are case sensitive 

Eg: if, return , else

### Identifiers

* Identifiers imply to the name provided to a function
* Identifiers can have letters, digits and underscore
* the name of identifier cannot start with a digit
* Keywords cannot be used as an identifier
* Identifiers should not contain special characters other than uderscore

In [ ]:
Techn0 = 5

In [ ]:
Tech_No=6

In [ ]:
8Techno = 9

SyntaxError: ignored

In [ ]:
Techn.0 = 8

SyntaxError: ignored

In [ ]:
if =9

SyntaxError: ignored

## Variables

* Variable  is a memory space alotted to store values
* You need not declare a variable
* The datatype of a variable is handled internally

In [ ]:
a = 5
a

5

In [ ]:
a, b, c = 5, 6, 7

(a, b, c)

(5, 6, 7)

In [ ]:
s = 'Techno'
y = 'Techno'
#Python always tries to reduce the memory used
# Python tries to reuse the same location for different variables with same values
id(s) == id(y)

True

In [ ]:
y = 'Techno1'

id(s) == id(y)

False

### Input Formatting

The value is entered using the function `input()` in python

In [ ]:
x = input("Enter the value ?")

Enter the value ?4

In [ ]:
# default type of input entered is string
type(x)

str

In [ ]:
x = int(input("Enter the value"))

Enter the value4

In [ ]:
type(x)

int

In [ ]:
x = float(input("Enter the value"))

Enter the value4.0

In [ ]:
type(x)

float

In [ ]:
x = float(input("enter the values"))

enter the values4x

ValueError: ignored

### Output Formatting
ref: https://docs.python.org/3/tutorial/inputoutput.html

* The values are displayed in python language using the function `print()`

In [ ]:
print("Hello World")

Hello World

In [ ]:
x = 5;
y = 6;
print(f"The numbers  are {x}, {y}")

The numbers  are 5, 6

In [ ]:
x=5 ; y = 6

print("The numbers are {}, {}".format(x, y))

The numbers are 5, 6

In [ ]:
print("The numbers are {1}, {0}".format(x,y))

The numbers are 6, 5

In [ ]:
print("The numbers are {satheesh},{ramesh}".format(ramesh =x, satheesh= y ))

The numbers are 6,5

In [ ]:
#Till 2 decimal points
x = 3.2456632
print("The float value is {:.2f}".format(x))

The float value is 3.25

### Python Operators

Operators are the constructs that manipulates the operands

Eg: 6 + 7 =13
 here (6,7 ) --> operands

  (+) --> operator

  *  Arithmatic operators
  * Comparison Operators
  * Logical Operators
  * Assignment operators
  * Bitwise Operators
  * Membership Operators
  * Identity Operators  

  So let's dive in...

#### Arithmatic Operators

In [ ]:
x =5; y=10
# Addition 
print ("Add: ",x + y)

# Subtraction
print ("Diff: ", x - y)

# Multiplication
print("Prod:", x * y)

# Division
print("div:", x /y)

# Modulus
print("Remainder:", 5 % 3)

# Floor Division
print("Floor:", 5 // 3)

# Exponentation
print("exp:", 5**3)

Add:  15
Diff:  -5
Prod: 50
div: 0.5
Remainder: 2
Floor: 1
exp: 125

### Assignment Operators

* Assign values to the variable

In [ ]:
# =
x = 5
print(x)

# x+=5 --> x = x+5
x+=5
print(x)

# x-=5 --> x = x-5
x -= 5
print(x)

# x*=5 --> x = x*5
x *= 5
print(x)

# x/=5 --> x = x/5
x /= 5
print(x)

# x %=5 --> x =x %5
x %= 5
print(x)

5
10
5
25
5.0
0.0

In [ ]:
x =5
# x **= 5 --> x = x**5
x **= 3;
print(x)

# x //= 5 --> x = x // 5
x //= 5
print(x)

125
25

#### Bitwise Operators

* Bitwise performs bit by bit operations

In [ ]:
a = 4
b = 5

# binary AND
print(a & b) # 0100 * 0101 --> 0100 (4)

# binary OR
print(a | b) # 0100 + 0101 --> 0101 (5)

# binary XOR
print(a ^ b) #0100 xor 0101 --> 0001 (1)

# binary Ones Complement
print(~a) #0100 --> -(0100 + 1) --> -(0101) -->-5

# binary left shift
print(a<<2) #0000 0100 --> 0001 0000 (16)

# binary right shift 
print(a >> 3) #0000 0100 --> 0000 0000 (0)

4
5
1
-5
16
0

#### Comparison Operators

* These operators are generally used to compare values in the either side of the operand

In [ ]:
a = 4
b = 5

print(a == b) # True if a is equal to b else it returns false

print(a > b) # True if a is greater than b else it return false

print(a < b) # True if a is less than b else it returns false

print(a != b) # True if a is not equal to b else it returns false

#print(a <> b) # Similar to !=  

print(a >= b) #True if a is greter than or equal to b else it returns false

print(a <= b) # True if a is less than or equal to b else it return False

False
False
True
True
False
True

### Logical Operators

In [ ]:
a = True
b = False

print(a and b) #False if any of the two operands is False

print(a or b) # False if both operands are False

print(not a) # Inverse the logical state if True return False vice-versa

False
True
False

#### Membership Operators

* Membership operators are used to checkthe presence of an element in a sequence like ... list, string, tuples
* `in` and and `not in`are the generally used membership operators

In [ ]:
print(7 in [1, 2, 3, 4])  #returns false since 7 is not in  the list

False

In [ ]:
ls = 'Homer J Simpson' #returns true since the letter r is present
print('r' in ls)

True

In [ ]:
print('j' not in ls) # returns true since j (not J) is not present in the string

True

#### Identity Operators
* Identity operators checks for the similarities in the memory locations

* `is` and `is not` are the generally used identity operators

In [ ]:
a = 'hello'
b = 'hello'
print(a is b)

True

In [ ]:
print(id(a))

140196767033520

In [ ]:
a = 'Hello'
print(a is b)

False

In [ ]:
print(id(a))

140196630590960

In [ ]:
print(id(b))

140196767033520

In [ ]:
print( a is not  b)

True

### Control Flow Statements

* The control fow in python is decided / regulated by conditional statements, loops and function calls

#### Conditional Statemensts

* `if` statements :
If statements help us to run a certain part of the code only when a particular condition is met.

In [ ]:
name = input("Enter your name")
# If block is marked by the indentation after the if statement
if name == 'Techno':  
  #This runs only when the condition is met
  print('Hey there')
# The statements always run
print('Have a great day')

Enter your nameSara
Have a great day

* `if else` statements: If the condition evaluates to true the if block is executed other wise the else block is executed

In [ ]:
name =input("Enter your name")
if name == 'Techno':
  # This line is executed if the if condiyion is true
  print('Hey there ' + name)
  # This line is executed if the if condition is evaluated false
else:
  print('Have a great day stranger')

Enter your nameSara
Have a great day stranger

* `if elif else` statements: Used to give multiple conditions if any of the condition is met thenn rest of the statements are droped by default

In [ ]:
age = input("Enter your age ")
if int(age) > 18 :
  print('Go grab a licence')
elif int(age) > 100 :
  print('You will die soon')
elif int(age > 50):
  print('Renew license')
else :
  print('You are a kid')

Enter your age 50
Go grab a licence

* Nested `if else` : If conditions that are inside another if or  else block used to check multiple conditions

In [ ]:
name = input('Enter your name ')
age = input('Enter your age')

if name == 'Techno':
  if int(age) > 20 and int(age) < 30:
    print("Welcome back " + name)
  else:
    print("You sure about the age")
else:
  print('Get lost Stranger')

Enter your name Techno
Enter your age50
You sure about the age